doctype html
html
  head
    meta(charset='utf8')
  body
    main
      div#main

script.
    window.$ = window.jQuery = require('jquery')
     window.$.get('app/templates/templates.pug', function(templates) {
        $('body').append( templates);
    });
script.
    require('./index.js')
    