script(type='text/html', id='referenceDropdown')
	h5(data-bind='text: name')
	select(data-bind='options: $parent[name](), optionsText: optionsText, optionsValue: optionsValue')

script(type='text/html', id='location')
	select(data-bind='options: location(), optionsText:"", optionsValue: ""')

