script(type='text/html', id='ethnicityList')
	select(data-bind='options: ethnicityList(), optionsText:"ethnicityAbbreviation", optionsValue: "ethnicityCode"')
script(type='text/html', id='raceList')
	select(data-bind='options: raceList(), optionsText:"raceName", optionsValue: "raceCode"')
script(type='text/html', id='recruitingSourceList')
	select(data-bind='options: recruitingSourceList(), optionsText:"recruitingSourceName", optionsValue: "recruitingSourceCode"')
script(type='text/html', id='religionList')
	select(data-bind='options: religionList(), optionsText:"religionName", optionsValue: "religionCode"')
script(type='text/html', id='mepcomRaceList')
	select(data-bind='options: mepcomRaceList(), optionsText:"mepcomRaceName", optionsValue: "mepcomRaceCode"')
script(type='text/html', id='mepcomEthnicityList')
	select(data-bind='options: mepcomEthnicityList(), optionsText:"mepcomEthnicityName", optionsValue: "mepcomEthnicityCode"')
script(type='text/html', id='drugTypeList')
	select(data-bind='options: drugTypeList(), optionsText:"drugTypeName", optionsValue: "drugTypeId"')
script(type='text/html', id='offenseTypeList')
	select(data-bind='options: offenseTypeList(), optionsText:"offenseTypeName", optionsValue: "offenseTypeId"')
script(type='text/html', id='recruitingActivityList')
	select(data-bind='options: recruitingActivityList(), optionsText:"recruitingActivityCode", optionsValue: "recruitingActivityCode"')
script(type='text/html', id='citizenshipTypeList')
	select(data-bind='options: citizenshipTypeList(), optionsText:"citizenshipTypeName", optionsValue: "citizenshipTypeCode"')
script(type='text/html', id='educationCredentialList')
	select(data-bind='options: educationCredentialList(), optionsText:"educationCredentialName", optionsValue: "educationCredentialCode"')
script(type='text/html', id='educationCertificationList')
	select(data-bind='options: educationCertificationList(), optionsText:"educationCertificationName", optionsValue: "educationCertificationCode"')
script(type='text/html', id='educationLevelList')
	select(data-bind='options: educationLevelList(), optionsText:"educationLevelName", optionsValue: "educationLevelCode"')
script(type='text/html', id='educationStatusList')
	select(data-bind='options: educationStatusList(), optionsText:"educationStatusName", optionsValue: "educationStatusCode"')
script(type='text/html', id='schoolList')
	select(data-bind='options: schoolList(), optionsText:"", optionsValue: ""')
script(type='text/html', id='activityCommentList')
	select(data-bind='options: activityCommentList(), optionsText:"commentTypeName", optionsValue: "commentTypeName"')
script(type='text/html', id='offenseList')
	select(data-bind='options: offenseList(), optionsText:"offenseName", optionsValue: "offenseId"')

script(type='text/html', id='location')
	select(data-bind='options: location(), optionsText:"", optionsValue: ""')

